<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="description" content="">
<meta name="author" content="">
<link rel="shortcut icon" href="../../assets/ico/favicon.ico">

<title>Twit-Tube</title>

<!-- Bootstrap core CSS -->
<!-- <link href="css/bootstrap.min.css" rel="stylesheet"> -->
<link rel="stylesheet"
	href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">

<!-- Custom styles for this template -->
<link rel="stylesheet"
	href="http://getbootstrap.com/examples/starter-template/starter-template.css">
<!-- <link href="css/starter-template.css" rel="stylesheet"> -->

<!-- Just for debugging purposes. Don't actually copy this line! -->
<!--[if lt IE 9]><script src="../../assets/js/ie8-responsive-file-warning.js"></script><![endif]-->

<!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
<!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>

<body>

	<div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
		<div class="container">
			<div class="navbar-header">
				<button type="button" class="navbar-toggle" data-toggle="collapse"
					data-target=".navbar-collapse">
					<span class="sr-only">Toggle navigation</span> <span
						class="icon-bar"></span> <span class="icon-bar"></span> <span
						class="icon-bar"></span>
				</button>
				<a class="navbar-brand" href="#">Twit-Tube</a>
			</div>
			<div class="collapse navbar-collapse">
				<ul class="nav navbar-nav">
					<li class="active"><a href="#">Home</a></li>
					<li><a href="about.html">About</a></li>
					<li><a href="#contact">Contact</a></li>
				</ul>
			</div>
			<!--/.nav-collapse -->
		</div>
	</div>

	<div class="container">
		<div class="starter-template">
			<h1>Welcome to Twit-Tube!</h1>
			<p class="lead">
				Browse and Upload your Favourite Videos!
			</p>
		</div>
	</div>

	<ul>
		#{list names, as:'name'}
		<div class="container">
			<div class="col-md-7">
				<li><a href="@{Files.listUploadsVideos(name.fileId)}">${name.fileName}</a></li>
			</div>
		</div>
		<hr class="featurette-divider">
		#{/list}
	</ul>

	<ul>
		<div class="container">
			<div class="col-md-7">
				<p class="lead">Upload New Video:</p>
				#{form @doUploadNewChat(), enctype:'multipart/form-data'} <input
					type="file" name="file"> <br /> Comment: <input
					type="text" name="comment"> <input type="hidden"
					name="isParent" value="n"> <input type="submit"
					name="submit" value="Upload"> #{/form}
			</div>
		</div>
	</ul>
</body>
</html>
